Source: lxsession
Section: x11
Priority: optional
Maintainer: Debian LXDE Maintainers <lxde-debian@lists.lxde.org>
Uploaders:
 Andrew Lee (李健秋) <ajqlee@debian.org>
Build-Depends:
 debhelper (>= 9), autotools-dev, docbook-to-man, docbook-xml, docbook-xsl,
 intltool, libdbus-glib-1-dev, libgee-dev, libpolkit-agent-1-dev,
 libgtk2.0-dev, valac, xsltproc
Standards-Version: 3.9.5
Homepage: http://www.lxde.org/
Vcs-Browser: http://git.lxde.org/gitweb/?p=debian/lxsession.git
Vcs-Git: git://git.lxde.org/git/debian/lxsession.git

Package: lxsession
Architecture: any
Depends:
 ${misc:Depends}, ${shlibs:Depends},
 lsb-release, lxsession-data, lxsession-logout
Recommends:
 lxde-common, lxsession-edit, openbox | x-window-manager,
 openssh-client | ssh-client
Suggests: gpicview, lxpanel, pcmanfm
Conflicts: lxde-settings-daemon, lxsession-default-apps
Breaks: lxpolkit (<< 0.5.0), lxsession-edit (<< 0.5.0)
Replaces:
 lxde-settings-daemon, lxpolkit (<< 0.5.0), lxsession-edit (<< 0.5.0),
 lxsession-default-apps
Provides: x-session-manager, lxpolkit, lxsession-default-apps, policykit-1-gnome
Description: LXDE default session manager
 LXSession is the default session manager for the Lightweight X11 Desktop
 Environment (LXDE).
 .
 It is derived from XSM, has fewer dependencies and more features. It is
 desktop-independent and can be used with any window manager.

Package: lxsession-data
Architecture: all
Depends: ${misc:Depends}
Breaks: lxsession (<< 0.5.0)
Replaces: lxsession (<< 0.5.0)
Description: LXDE default session manager (common files)
 LXSession is the default session manager for the Lightweight X11 Desktop
 Environment (LXDE).
 .
 This package provides common files for all applications provided by lxsession.

Package: lxsession-edit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lxsession-data
Breaks: lxsession (<< 0.5.0)
Replaces: lxsession (<< 0.5.0)
Description: LXDE application session editor
 LXSession is the default session manager for the Lightweight X11 Desktop
 Environment (LXDE).
 .
 LXSession-Edit is a simple session editor GUI which follows autostart specs
 from FreeDesktop.Org.

Package: lxpolkit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, lxsession-data
Breaks: lxsession (<< 0.5.0)
Replaces: lxsession (<< 0.5.0)
Provides: policykit-1-gnome
Description: LXDE PolicyKit authentication agent
 LXPolkit is a GUI application for the Lightweight X11 Desktop Environment
 (LXDE).
 .
 It's a simple PolicyKit authentication agent.

Package: lxsession-logout
Architecture: any
Breaks: lxsession (<< 0.5.0)
Replaces: lxsession (<< 0.5.0)
Depends:
 ${misc:Depends}, ${shlibs:Depends},
 lxsession-data, consolekit | upower (<< 0.99)
Description: LXDE session logout GUI
 LXSession is the default session manager for the Lightweight X11 Desktop
 Environment (LXDE).
 .
 LXSession-logout is a simple utility for logout and quit a session.

Package: lxsession-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, lxsession (= ${binary:Version})
Description: LXDE default session manager (debug)
 LXSession is the default session manager for the Lightweight X11 Desktop
 Environment (LXDE).
 .
 This package contains the debugging symbols.

Package: lxsession-edit-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, lxsession-edit (= ${binary:Version})
Description: LXDE application session editor (debug)
 LXSession-Edit is a GUI application for the Lightweight X11 Desktop Environment
 (LXDE).
 .
 This package contains the debugging symbols.

Package: lxpolkit-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, lxpolkit (= ${binary:Version})
Description: LXDE PolicyKit authentication agent (debug)
 LXPolkit is a GUI application for the Lightweight X11 Desktop Environment
 (LXDE).
 .
 This package contains the debugging symbols.

Package: lxsession-logout-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, lxsession-logout (= ${binary:Version})
Description: LXDE session logout GUI (debug)
 LXSession-logout is a simple utility for logout and quit a session.
 .
 This package contains the debugging symbols.
