#!/usr/bin/make -f

%:
	dh ${@} --with autotools-dev --parallel

override_dh_auto_configure:
	dh_auto_configure -- --enable-buildin-clipboard --disable-silent-rules

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip -plxsession --dbg-package=lxsession-dbg
	dh_strip -plxsession-edit --dbg-package=lxsession-edit-dbg
	dh_strip -plxsession-logout --dbg-package=lxsession-logout-dbg
	dh_strip -plxpolkit --dbg-package=lxpolkit-dbg
	dh_strip -Nlxsession -Nlxsession-edit -Nlxsession-logout -Nlxpolkit
